__pycache__/
*.pyc
.old/
.tmp/
.venv/
network.xml
schedule.xml
vehicles.xml
population.xml
population.json
plans.xml
config.xml
test.ipynb
Simulation/matsim-example-project/
Simulation/output/
Simulation/input/